<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SiProIgre</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>primefaces.THEME</param-name>
  	<param-value>sunny</param-value>
  	<!--<param-value>humanity</param-value>-->
  	<!--<param-value>dot-luv</param-value>-->
  	<!--<param-value>afternoon</param-value>-->
  	<!--<param-value>ui-lightness</param-value>-->
  	<!--<param-value>delta</param-value>-->
  	<!--<param-value>bootstrap</param-value>-->
  	<!--<param-value>flick</param-value>-->
  	<!--<param-value>pepper-grinder</param-value>-->
  	<!--<param-value>hot-sneaks</param-value>-->
  	<!--<param-value>home</param-value>-->
  	<!--<param-value>cruze</param-value>-->
  	<!--<param-value>eggplant</param-value>-->
  	<!--<param-value>smoothness</param-value>afterwork-->
  	<!--<param-value>afterwork</param-value>-->
  	<!--<param-value>cupertino</param-value>-->
  	<!--<param-value>rocket</param-value>-->
  	<!--<param-value>south-street</param-value>-->
  	<!--<param-value>overcast</param-value>-->
  	<!--<param-value>redmond</param-value>-->
  	<!--<param-value>vader</param-value>-->
  </context-param>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <!-- Bloquear acessos à páginas XHTML -->
  <security-constraint>
    <display-name>Bloquear XHTML</display-name>
    <web-resource-collection>
      <web-resource-name>XHTML</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <!-- Acesso à ninguém de recursos terminados com xhtml -->
    <auth-constraint />
  </security-constraint>
  
</web-app>